<div
  class="modal-overlay"
  (click)="modalRef?.close()"
  (keydown.escape)="modalRef?.close()"
>
  <div
    appFocusBack
    appFocusTrap
    class="modal-content"
    role="dialog"
    aria-modal="true"
    [attr.aria-label]="config.title"
    (click)="$event.stopPropagation()"
  >
    <h1 class="modal-title">{{ config.title }}</h1>
    <!-- template que será exibido-->
    <ng-container *ngTemplateOutlet="config.templateRef"></ng-container>
  </div>
</div>
