<h1>Accessible Modal Component</h1>

<p>Welcome to the accessible modal testing page!</p>
<button class="button button-primary" type="button" (click)="show()">
  Show modal
</button>

<ng-template #modal>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-field">
      <label for="firstName">First name</label>
      <input
        formControlName="firstName"
        id="firstName"
        [attr.aria-invalid]="form.get('firstName')?.errors?.required"
        aria-describedby="firstName-error"
      />
      <span
        id="firstName-error"
        class="validation-error"
        [attr.aria-invalid]="form.get('firstName')?.errors?.required"
        *ngIf="form.get('firstName')?.errors?.required"
      >
        First name is required.
      </span>
    </div>

    <div class="form-field">
      <label for="surname">Surname</label>
      <input
        formControlName="surname"
        id="surname"
        [attr.aria-invalid]="form.get('surname')?.errors?.required"
        aria-describedby="surname-error"
      />
      <span
        id="surname-error"
        class="validation-error"
        *ngIf="form.get('surname')?.errors?.required"
      >
        Surname is required.
      </span>
    </div>

    <div class="form-field">
      <label for="age">Age</label>
      <input
        formControlName="age"
        id="age"
        [attr.aria-invalid]="form.get('age')?.errors?.required"
        aria-describedby="age-error"
      />
      <span
        id="age-error"
        class="validation-error"
        *ngIf="form.get('age')?.errors?.required"
      >
        Age is required.
      </span>
    </div>

    <label for="info">Subscribe to newsletter</label>
    <input
      formControlName="info"
      id="info"
      type="checkbox"
      (change)="info = !info"
    />
    <div @fade *ngIf="info">
      <p>This is a placeholder for more information.</p>
    </div>

    <div class="button-group">
      <button
        class="button button-primary"
        type="submit"
        [attr.aria-disabled]="form.invalid"
      >
        Submit
      </button>
      <button
        class="button button-secondary"
        type="button"
        (click)="modalRef.close()"
      >
        Cancel
      </button>
    </div>
  </form>
</ng-template>
